header {
    background: url(../img/PokemonList.jpg) no-repeat;
    height: 130px;
    color: white;
    font-size: 18px;
}

body {
    padding: 0;
    margin: 0;
}

.title {
    font-size: 32px;
    font-weight: bold;
    color: black;
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
}

.justTable {
    margin: 0 auto;
    width: 800px;
    font-size: 24px;
    text-align: center;
    border-spacing: 2px;
}

.thirdColumn {
    width: 300px;
    font-size: 18px;
}

.button {
    padding-top: 50px;
    position: relative;
    font-size: 18px;
    left: 45%;
}